/*Selector {
Property: value;
}*/

body {
background-image: url(Images/backimage.jpg);
background-size: cover;
text-align: center;
border: red dashed;
font-family: 'Pacifico', cursive;
}

h2 {
color: red;
}

li {
list-style: none;
display: inline-block;
}

a {

color: black;

}

img {
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}